$navbar-inverse-bg: rgba(55, 33, 160, 0.97);

#j_display {
  background: url(asset-path('images/display.jpg') ) no-repeat;
  background-size: 100% 100% ;
  border: 2px solid Gray;
  text-align: center;
}

#logo {
  color: #ffffff;
}
#logo:hover{
  color: #f2d0ff;
}

#j_text {
  text-shadow: 0 0 50px #DADADA,
               0 0 50px #DADADA,
               0 0 50px #DADADA,
               0 0 50px #DADADA,
               0 0 50px #DADADA,
               0 0 50px #DADADA
}

.footer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  color: #ffffff;
  border-top: 1px solid #000000;
  background-color: rgba(55, 33, 160, 0.97);
}

.description {
  margin-top: 0;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

@import "bootstrap-sprockets";
@import "bootstrap";